@import "tailwindcss";

*{

  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
body{
    background: #000;
    overflow-x: hidden;

}
html {
  scroll-behavior: smooth;
}
    @keyframes float {
          0%, 100% { 
            transform: translateY(0) scale(1); 
          }
          50% { 
            transform: translateY(-20px) scale(1.1); 
          }
        }

        